<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="login-form">
  <form #postForm="ngForm" (ngSubmit)="resetPassword(postForm.value)">
    <h2 class="text-center">Reset Password</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" required="required" ngModel name="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Old Password" required="required" ngModel name="oldPassword">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="New Password" required="required" ngModel name="newPassword">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Reset</button>
    </div>
  </form>
</div>
</body>

</html>
